body {

  margin: 0px ;

  font-family: 'Source Sans Pro', sans-serif;

  -webkit-font-smoothing: antialiased;
  font-size: 14px;
  color: #333;
  background: #F7F7F7; /* f7f7f7 F1F1EB eef2f5*/
}



.navbar-brand{
  /*font-family: 'Baloo', cursive;
  font-family: 'Black Ops One', cursive;
    font-family: 'Limelight', cursive;*/

 /* font-family: 'Bubblegum Sans', cursive;
  padding-top: 0.9em;


  font-family: 'Pacifico', cursive;

*/

  font-family: 'Sofia', cursive;
  font-size: 15px;

  line-height: 1.1em;

  -webkit-perspective:1000;
  perspective:1000;

  padding-top: 13px;
  padding-left: 40px;
}




.navbar-brand p{
  margin: 0;
}
.navbar-brand p:first-child{
  padding-left: 3px;
}




/* http://www.developerdrive.com/2015/01/8-simple-css-hover-effects/
@keyframes bounce {
  0%, 20%, 60%, 100% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }

  40% {
    -webkit-transform: translateY(-20px);
    transform: translateY(-20px);
  }

  80% {
    -webkit-transform: translateY(-10px);
    transform: translateY(-10px);
  }
}

.navbar-brand:hover{
  animation: bounce 1s;
}
*/

/*
.brand-logo{

  font-family: 'Russo One', sans-serif;

  font-size: 20px;
  letter-spacing: 2px;
  font-weight: normal;
  transform-style: preserve-3d;
  margin: 0px auto;
  margin-top: -5px;
  background: #10A9F5; /* 07AD91  0391c9
  color: #ddd;
  border: none;
  border-radius: 50px;
  width: 30px;
  height: 30px;
  position: relative;
 /* box-shadow: 0 2px 5px 0 rgba(0,0,0,.16),0 2px 10px 0 rgba(0,0,0,.12);
}

.navbar-brand > .brand-logo{
  padding: 6px 11px 5px 11px;
}
*/

.c-h{
  min-height: 580px;
  /*border: 1px solid #ccc;*/
}

.main-wraper > .container{
  background: transparent;
  box-shadow: none;
}

a{
  color: #07569e;
 /* color: #1D906A;*/
 /* color: #06937B;
  color: #239d60;*/
}

.content{
  padding-top: 15px;
}

/*
.contest-navbar{
  box-shadow: none !important;
  background: #e2e2e2 !important;
  margin-bottom: 20px !important;
}


.contest-container{
  font-family: 'PT Sans', sans-serif;


  background-image: linear-gradient(45deg, #155676, #4892B7) !important;
  background-image: -webkit-linear-gradient(45deg, #155676, #4892B7) !important;
  background-image: -moz-linear-gradient(45deg, #155676, #4892B7)  !important;
  background-image: -ms-linear-gradient(45deg, #155676, #4892B7)  !important;
  background-image: -o-linear-gradient(45deg, #155676, #4892B7)  !important;


  padding: 0px;
  color: #fff;
}

.contest-container > .panel-body{
  padding: 5px 15px;
}*/

footer{
  background-color: #37474F;
  color: #DDD;
  padding: 20px 0px;
}

/*
.problem-list tr td:nth-child(1),.problem-list tr td:nth-child(3),.problem-list tr td:nth-child(4){
  width:6%;
}*/


.problem-list tr td:nth-child(1){
  width:1%;
}

.problem-list tr td:nth-child(2){
  width:7%;
}

.problem-list tr td:nth-child(3){
  width:65%;
}

.problem-list tr td:nth-child(4){
  width:7%;
}

.problem-list tr td:nth-child(5){
  width:7%;
}

.problem-list tr td:nth-child(6){
  width:17%;
}

.problem-list .pl-title{
  /*color: #1D906A;*/
  color: #067399;
  max-width: 100px;
}

.pl-title:hover{
  text-decoration: underline;
}

.recaptchatable #recaptcha_response_field {
  font-size: 11pt;
  padding: 5px;
}

#recaptcha_response_field {
  border: 1px solid #ccc;
}

.contest-list > p{
    font-size: 12px;
}

.preview{
  background-color: #f5f5f5;
  border: 1px solid #e3e3e3;
  min-height: 400px;
  padding: 10px;
}

.note-toolbar, .btn-toolbar{
  background: #fff;
  background-color: #fff;
}

.btn-file {
  position: relative;
  overflow: hidden;
}

.btn-file input[type=file] {
  position: absolute;
  top: 0;
  right: 0;
  min-width: 100%;
  min-height: 100%;
  font-size: 100px;
  text-align: right;
  filter: alpha(opacity=0);
  opacity: 0;
  outline: none;
  background: white;
  cursor: inherit;
  display: block;
}


.note-group-select-from-files {
  display: none;
}

.codePre{
  padding: 9.5px;
  margin: 0 0 10px;
  overflow: auto;
  word-break: break-all;
  word-wrap: break-word;
  white-space: pre-wrap;

  font-family: 'Ubuntu Mono', monospace;
  font-size: 15px;
  line-height: 20px;

}

.btn-dark{
  background-color: #34495E;
  color: #fff;
}

hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #000;
  margin: 1em 0;
  padding: 0;
}

.ellips{
  overflow:hidden;
  white-space:nowrap;
  text-overflow:ellipsis;
}



.jl-style{
  font-family: 'Open Sans', sans-serif;
  color: #fff;
  font-weight: 600;
  background: #4C4F84;
  padding: 0px 6px;
  border-radius: 3px;
}




.grey-back{

/*
  background-image: linear-gradient(45deg, #155676, #4892B7);
  background-image: -webkit-linear-gradient(45deg, #155676, #4892B7);
  background-image: -moz-linear-gradient(45deg, #155676, #4892B7) ;
  background-image: -ms-linear-gradient(45deg, #155676, #4892B7) ;
  background-image: -o-linear-gradient(45deg, #155676, #4892B7) ;
*/

  background-image: linear-gradient(45deg, #DDDDDD, #EEEEEE);
  background-image: -webkit-linear-gradient(45deg, #DDDDDD, #EEEEEE);
  background-image: -moz-linear-gradient(45deg, #DDDDDD, #EEEEEE) ;
  background-image: -ms-linear-gradient(45deg, #DDDDDD, #EEEEEE) ;
  background-image: -o-linear-gradient(45deg, #DDDDDD, #EEEEEE) ;

  color: #333;
}


.ac{
  color: #43AC6A;
}

.wa{
  color: indianred;
}



hr {
  border-color: #ddd;
}

.panel{
  box-shadow: none;


  border-radius: 0px ;
  /*border: none;*/
}

.panel-body  {
  word-wrap: break-word;
}


.panel-default .panel-heading{
  background-image: none;
  background-color: transparent;
  border: none;
  border-bottom: 1px solid #eee;
}


.panel-heading h4, .panel-heading h5, .panel-heading h6{
  font-family: 'Open Sans', sans-serif;
  color: #666;
  font-size: 12px;
  font-weight: bold;
}

.panel-btn-heading{
  padding: 6px 15px;
}

.panel-btn-heading h4, .panel-btn-heading h5, .panel-btn-heading h6{
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  line-height: normal;
  width: 75%;
  padding-top: 7px;
}




/*
.panel-heading h5{
  font-family: 'Open Sans', sans-serif;
  color: #666;
  font-size: 12px;
  font-weight: bold;
  margin:  0;
  text-shadow: none;
}

*/
.panel-default {
  /*box-shadow: rgba(0, 0, 0, 0.117647) 0px 1px 6px, rgba(0, 0, 0, 0.117647) 0px 1px 4px;*/

  /*box-shadow: 0 2px 5px 0 rgba(0,0,0,.16),0 2px 10px 0 rgba(0,0,0,.12);*/
 /* box-shadow: 2px 2px 2px rgba(0,0,0,.03);*/


  border: 1px solid;
  border-color: #E6E9ED;



  /*-webkit-box-shadow: 0 0 24px 0 rgba(0,0,0,0.055);
  -moz-box-shadow: 0 0 24px 0 rgba(0,0,0,0.055);
  box-shadow: 0 0 24px 0 rgba(0,0,0,0.055);*/
  /*box-shadow: 2px 2px 2px rgba(0,0,0,.03);*/
}

.panel-free{
  border: none;
}


/*
.navbar {

  background: #FFFFFF;

  margin-bottom: 0px;
  border: 0px;
  box-shadow: none;
}

.navbar-default {
  background-color: #F1F1F1;
  border-bottom: 1px solid #e4e6e8;
}

.navbar-default .navbar-nav>li>a {
  color: #777;
}

.navbar-nav>li>a {
  text-shadow: none;
  line-height: 23px;
}

.navbar-nav>li>a:hover{
  color: #FFFFFF;
}

.navbar-brand {
  font-size: 28px;
}
*/


input[type="text"],input[type="password"],input[type="username"],input[type="email"], select{
  border-radius: 1px;
  padding: 2px 14px;
}

.form-control {
  height: 35px;
  border-radius: 1px;
  box-shadow: none;
  border: 1px solid #d9d9d9;
}

.form-control:focus {
  border: 1px solid #4098CF;
  box-shadow: none;
}

.btn,.btn-primary{
  border: 0px;
  border-radius: 2px;
}

.btn-primary{
  background-color: #1c84c6;
}


.avatar-img
{
  position: relative;
  top: -5px;
  float: left;
  left: -5px;
  overflow: hidden;
}



.dropdown-menu{
  border: none;
  background-color: #39424E;
}

.dropdown-menu .fa{
  margin-right: 7px;
}

.dropdown-menu .divider{
  background-color: rgba(0,0,0,.1);
}

.dropdown-menu>li>a {
  font-weight: normal;
  color: #d6d8dc;
  white-space: nowrap;
  font-size: 13px;
  background-color: #39424E;
}



td,th{
  display: table-cell;
}



/*
.scoreboard{
  font-size: 14px ;
}

.scoreboard >tbody>tr:nth-child(odd) > td{
  padding: 8px 8px 2px 8px ;
}

.scoreboard > thead > tr > th,.scoreboard > thead > tr > td {
  padding: 0px ;
  margin: 0px ;
}
*/



.scoreboard .solved-count{
  font-size: 17px;
  font-weight: 600;
}


.scoreboard > tbody > tr {
  background-color: transparent;
}

.scoreboard > tbody > tr > td {
  padding: 5px 4px;
}

.scoreboard > tbody > tr > td:first-child{
  padding-left: 10px;
  padding-right: 10px;
}

.scoreboard > tbody > tr > td:last-child{
  padding-right: 10px;
}

.scoreboard > tbody > tr > td > .label-default {
  background-color: #e0e0e0;
}

.scoreboard .who a{
  font-weight: bold;
  color: #262626;
  text-shadow: none;
  font-size: 13px;
  text-decoration: none;
}

.scoreboard .label-danger{
  background-color: #F67B51;
}

.scoreboard .label-success{
  background-color: #73bf73;
}

.scoreboard .label-info{
  background-color: #4dbae6;
}

.standings-cell > .label{
  min-width: 40px;
  display: block;
  padding: 3px 6px;
  margin: 0 0;
  font-weight: 400;
  font-size: 11px;
  border-radius: 4px;
}

.standings-cell > a > p {
  margin-bottom: 0;
}

.standings-cell > a > p:first-child {
  margin-bottom: 6px;
  margin-top: 1px;
}



.standings-cell a:hover p.penalty-label span{
  display: none;
}

.standings-cell a:hover p.penalty-label:after{
  content: attr(time-penalty);
}


.fixed-cell{
  max-width: 55px;
  width: 55px;
}

/*
.table-striped>tbody>tr:nth-child(4n+1)>td,
.table-striped>tbody>tr:nth-child(4n+2)>td {
  background-color: #fff ;
}

.table-striped>tbody>tr:nth-child(4n+3)>td,
.table-striped>tbody>tr:nth-child(4n+4)>td {
  background-color: #fff ;
}


.table-striped>tbody>tr:nth-child(even) > td{
  border-top: none 0px ;
}
*/




.last-border{
  margin-top: 0px;
}

.bootstrap-filestyle > input[type="text"] {
  padding: 0px 5px ;
}

.alert{
  border: none ;
}


  .cd-row {
    position: relative;
  }

  .bottom-align-text {
    position: absolute;
    bottom: 0;
    right: 0;
  }


.countdown-d{
  border: 1px solid #000;
  margin-right: 5px;
  height: 30px;
  width: 30px;
position: relative;
  overflow: hidden;
}

.table>thead>tr>th {
  border-bottom: none;
}

.table>tbody>tr>td,
.table>tbody>tr>th,
.table>tfoot>tr>td,
.table>tfoot>tr>th,
.table>thead>tr>td,
.table>thead>tr>th {
  border-top: 1px solid #eeeeee;
}


/*

.navbar-default .navbar-nav>.active>a, .navbar-default .navbar-nav>.open>a {
  background-image: none;
  -webkit-box-shadow: none;
  box-shadow: none;
}

.navbar-default .navbar-nav>.active>a, .navbar-default .navbar-nav>.active>a:focus, .navbar-default .navbar-nav>.active>a:hover {
  color:blueviolet;
  background-color: transparent;
}
*/

.badge-info{
  background: #5bc0de;
}



/*
.navbar .navbar-default {
  border-radius: 0px;
  border-left: transparent;
}

#navbar-collapse {
  border-bottom: 1px solid #266080;
}

.top-nav>li>a {
  text-shadow: none;
  line-height: 23px;
  padding: 5px 15px;
}
*/

/*
#brand-logo {
  z-index: 1;
  text-decoration: none;
  cursor: pointer;
  background-size: cover;
  position: absolute;
  background: #262f38;
  width: 100%;
  padding-left: 21px;
  padding-top: 7px;
  padding-bottom: 7px;
  margin-top: -7px;
}

#brand-logo h4{
  letter-spacing: 1px;
  color: #FFFFFF;
  font-size: 21px;
  line-height: 15px;
  font-family: 'Lobster', cursive;
  font-weight: bold;
}

#brand-logo:before, #brand-logo:after {
  content: '';
  position: absolute;
  width: 100%;
  left: -0.25em;
  border: 0 solid transparent;
  border-width: 0.5em 0.25em;
  color: #262f38;
}

#brand-logo:before {
  border-top: none;
  border-bottom-color: initial;
  top: 0;
}

#brand-logo:after {
  border-bottom: none;
  border-top-color: initial;
  bottom: 0;
}
*/



.transparent{
  background: transparent;
  border: none;
  box-shadow: none;
}


nav.nopadding, div.nopadding {
  padding: 0;
  margin: 0;
}

.navbar-wrapper{
  border-top: 1px solid #eee;

  border-bottom: 1px solid #eee;
  margin-bottom: 15px;
  border-top: 4px solid #262f38;
}


/*
@media (max-width: 768px) {
  .navbar-brand {
    display: block;
  }
  .navbar-wrapper{
    background-image: none;
    background: #FFFFFF;
  }
}*/


.table-striped>tbody>tr:nth-child(odd)>td,
.table-striped>tbody>tr:nth-child(odd)>th {
  background-color: #f8f8f8;
}




.list-group {
  border-radius: 0;
}

.list-group-item:first-child {
  border-radius: 0;
}

#ajaxResult{
  margin-top: 12px;
}

.full-width {
  display:block;
}


.navbar{
  margin-bottom: 0px;
  box-shadow: 0 1px 1px rgba(0,0,0,.14);
  /*box-shadow: 0 2px 2px rgba(0,0,0,.1),0 1px 0 rgba(0,0,0,.1);*/
  /*box-shadow: 0 2px 2px 0 rgba(0,0,0,.14),0 3px 1px -2px rgba(0,0,0,.2),0 1px 5px 0 rgba(0,0,0,.12);*/
}


.navbar-inverse {
  background-color: #35495E; /*#333C45 #2A3F54;   518CA3, 012B43 , 00887A , 2d1c4a , B3382C 293A48 3F51B5  */
 /* background-image: url("../images/patterns/pattern-gplay.png");*/
  background-image: none;
  border-color: transparent;
}


.navbar-default{
  background-image: none;
  background-color: #ffffff;
}


.navbar-inverse .navbar-brand{
  color: #FFFFFF;
}

.navbar-inverse .navbar-nav{
  margin-left: 40px;
}

.navbar-inverse .navbar-nav>.active>a, .navbar-inverse .navbar-nav>.open>a{
  background-image: none;
  box-shadow: none;
}


/*
.navbar-inverse .fa{
  font-size: 15px;
}*/

.navbar-inverse .navbar-nav>.active>a, .navbar-inverse .navbar-nav>.active>a:focus, .navbar-inverse .navbar-nav>.active>a:hover{
  background-color: transparent;
}

.navbar-inverse .navbar-nav>li>a:focus, .navbar-inverse .navbar-nav>li>a:hover {
  background-color: rgba(0,0,0,0.05);
}


.navbar-inverse .navbar-nav>li>a {

  padding-top: 18px;
  padding-bottom: 18px;

  color: rgba(255,255,255,0.75);
  -webkit-transition: all 200ms ease;
  -moz-transition: all 200ms ease;
  transition: all 200ms ease;
}

.navbar-menu{
  margin-left: 25px;
}

.navbar-menu li{
  text-align:  center;
}

.navbar-menu .fa{
  display: block;
  position: static;
  font-size: 18px;
}

.navbar-menu>li>a{
  padding: 8px 15px;
  line-height: 15px;
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 13px;
}


.label-danger{
  background-color: #f56b3d;
}

.label-success{
  background-color: #57B257;
}

.progress{
  margin-bottom: 0;
}

.color-success{
  color: #57B257;
}

.color-failed{
  color: #f56b3d;
}

.big-checkbox > label > input {width: 22px; height: 22px;}

.big-checkbox > label{
  font-size: 16px;
}

.tr-selected{
  background-color: #dee3ed;
}

.btn-danger{
  box-shadow: none;
  border: none;
}

.table-bordered {
  border: 1px solid #f2f2f2;
}
.table-bordered>tbody>tr>td, .table-bordered>tbody>tr>th, .table-bordered>tfoot>tr>td, .table-bordered>tfoot>tr>th, .table-bordered>thead>tr>td, .table-bordered>thead>tr>th {
  border: 1px solid #e6e6e6;
}

.badge-warning{
  background-color: #f56b3d;
}

.badge-success{
  background-color: #57B257;
}

.badge{
  font-weight: normal;
}


.navbar-inverse .navbar-brand {
  color: #ffffff;
}


.disabled-link{
  pointer-events: none;
  cursor: default;
  opacity: 0.7;
}

pre.prettyprint {
  padding: 15px;
  border: none;
  font-family: 'Droid Sans Mono', monospace;
}

li.L1, li.L3, li.L5, li.L7, li.L9 {
  list-style-type: none;
  background: transparent;
}

pre{
  background-color: #f8f8f8;
  font-size: 12px;
}

.linenums li {
  list-style-type: decimal;
}

#editor {
  height: 500px;
  width: auto;
  position: relative;
  border: 1px solid #dfe8f1;
}


.profile-pic-container{
  margin: 0 auto;
  text-align: center;
}

.profile-pic-img {
  padding: 5px;
}

.profile-name-container {
  text-align: center;
}

.profile-name-container > .profile-name {
   font-size: 18px;
  font-weight: 600;
  line-height: 1.5;
}


.account-btn{
  width: 160px;
}

.social-btn-group > .list-group-item:first-child{
  margin-top: 0;
}

.social-btn-group > .list-group-item{
  margin-top: 5px;
  padding: 8px 15px;
}

.social-btn-group > .list-group-item > i{
  font-size: 17px;
}

.social-btn-group > .nocon {
  color: #ffffff;
}


 .btn-primary, .btn-success, .btn-info, .btn-warning, .btn-danger {
  background-image: none;
  /*box-shadow: 0 2px 2px 0 rgba(153,153,153,.14),0 3px 1px -2px rgba(153,153,153,.2),0 1px 5px 0 rgba(153,153,153,.12);*/
 /* box-shadow: 0 2px 5px 0 rgba(0,0,0,.16),0 2px 10px 0 rgba(0,0,0,.12);*/
   box-shadow: none;
}

 .btn-success{
   background-color: #1ab394;
 }

.btn-primary:hover, .btn-success:hover, .btn-info:hover, .btn-warning:hover, .btn-danger:hover, .btn-dark:hover{
  color: #ffffff;
  opacity: .9;
}

.btn-default{
  background-image: none;
  border: 1px solid #d9d9d9;
  background: transparent;
  box-shadow: none;
}

.btn-default:hover{
  border: 1px solid #d9d9d9;
}


.alert-success, .alert-info, .alert-warning, .alert-danger{
  background-image: none;
}

.alert-message{
  font-size: 15px;
}

/* http://stackoverflow.com/questions/14294476/add-arrow-shaped-to-active-tab *//*
.active::after {
  content: "";
  position: absolute;
  bottom: 0px;
  left: 37px;
  border-width: 0 7px 6px;
  border-style: solid;
  border-color: #F4F4F4 transparent;
  display: block;
  width: 0;
}
*/

.table-contest-list > tbody > tr > td > a{
  padding-left: 5px;
  font-size: 13px;
  color: #404040;
  font-weight: bold;
  text-decoration: none;
}

.table-contest-list > tbody > tr > td{
   padding: 10px 8px;
 }

.no-margin-top{
  margin-top: 0;
}

.no-margin-bottom{
  margin-bottom: 0;
}

.text-bold{
  font-weight: 600;
}

.trophy-gold{
  color: #FFD700;
}

.trophy-silver{
  color: #C0C0C0;
}

.trophy-bronze{
  color: #cd7f32;
}

.tooltip_templates{
  display: none;
}

.nav-tabs>li{
  margin-bottom: -3px;
}

.nav-tabs>li>a {
  border-radius: 0;
}

.nav-tabs>li.active>a , .nav-tabs>li.active>a:focus{
  border-top: 2px solid #0391C9;
}

.nav-tabs{
  border-bottom: none;
}

.input-icon{
  position: relative;
}

.input-icon .fa{
  position: absolute;
  padding: 10px;
  width: 32px;
  pointer-events: none;
  border-right: 1px solid #d6d6d6;
  color: #737373;
}

.input-icon input{
  padding-left: 40px;
  font-size: 15px;
}


.link-no-effect, .link-no-effect:hover, .link-no-effect:focus{
  text-decoration: none;
  color: inherit;
}


.form-center{
  margin: 0px auto;
  width: 352px;
 /* -webkit-box-shadow: 0 2px 2px 0 rgba(0,0,0,0.14),0 3px 1px -2px rgba(0,0,0,0.12),0 1px 5px 0 rgba(0,0,0,0.2);
  box-shadow: 0 2px 2px 0 rgba(0,0,0,0.14),0 3px 1px -2px rgba(0,0,0,0.12),0 1px 5px 0 rgba(0,0,0,0.2);*/
}

.form-center .panel-body{
  padding: 25px;
}

.form-center .panel-default{
  border: 1px solid #ccc;
}

.form-center .form-header{
  background-color: transparent;
 /* background-image: url('../images/patterns/pattern-gplay.png');*/
  color: #333;
}


.form-title{
  margin-bottom: 15px;
  margin-top: 30px;
  border-bottom: 1px dotted #cccccc;
  font-size: 13px;
  line-height: 0.1em;
}


.form-title span{
  background: #ffffff;
  padding:0 10px;
}

.form-center .web-title{
  font-family: 'Inconsolata', monospace;
  font-weight: bold;
  margin: auto;
}

.form-center-body{
 /* background: url('../images/res_back.jpg') no-repeat center center fixed;
  -moz-background-size: cover;
  -webkit-background-size: cover;
  -o-background-size: cover;
  background-size: cover;*/
  background-color: #F9F9F9;
  /*background-image: url('../images/patterns/gplay-trans.png');*/
}

.forgot-password {
  /*border-bottom: 1px dashed #a6a6a6;*/
  color: #999;
  font-size: 13px;
  padding-bottom: 2px;
}

.forgot-password:hover{
  text-decoration: none;
  color: inherit;
}


.contest-banner{
  padding-top: 50px;
/*  background-image: url('../images/patterns/illusion-dark.png');*/
  min-height: 230px;
  /*background-position:  bottom;
  background-repeat: no-repeat;
  background-color: #07AD91; /* 07AD91 185568 */
  color: #333;
 /* text-shadow: rgb(3, 3, 3) 4px 4px 6px;*/
}

/*
.contest-arena-heading{
  padding-top: 20px;
  background-image: url("../images/patterns/gplay-head3.png");
  /*background-color: #07AD91; /* 07AD91 185568
  color: #ffffff;
  text-shadow: rgba(3, 3, 3, 0.5) 1px 1px 1px;
}


.contest-nav-wrapper{
  background-color: #06937b; /* B3382C 06937b
  border-top: 1px solid rgba(5, 122, 103,.3);
}


.contest-navbar{
  border-radius: 0;
  background: transparent;
  min-height: 34px;
  box-shadow: none;
  border: none;
}


.contest-nav >li>a {
  padding: 7px 15px;
}

.navbar-default  .contest-nav > .active > a{
  background-image: none;
  background-color: transparent;
  box-shadow: none;
}

.contest-nav > li.active:after{
  position: absolute;
  bottom: -20px;
  height: 0;
  width: 0;
  left: 37%;
  border: 12px solid transparent;
  border-top-color: #06937b;
  content: "";
}
*/

.contest-problem-table > tbody > tr>td{
  padding: 10px;
}


.contest-problem-table h4 , .contest-problem-table .contest-problem-title {
  margin: 4px 0px 0px 0px;
}

.contest-problem-table h4{
  font-weight: bold;
}

.contest-problem-table .contest-problem-title{
  font-size: 15px;
  color: #06937B;
  font-weight: bold;
}

.img-polaroid{
  border-radius: 2px;
}

.navbar-img{
  margin-top: -3px;
}


.clar-table > tbody > tr > td:first-child{
  padding-left: 15px;
  padding-right: 10px;
  max-width: 650px;
}


.vertical-middle{
  vertical-align: middle !important;
}

 .form-control[readonly] {
   background-color: #ffffff;
 }

.panel-heading-btn{
  margin-top: -4px;
}

.bootstrap-filestyle .form-control{
  height: 29px;
}

.modal-content, .swal2-modal {
  border-radius: 1px !important;
}


.contest-wrapper{
  background-color: transparent;
  background-image: url("../images/patterns/contest-head-clean.png");
  border-bottom: 1px solid #E6E9ED;

}

.contest-title{
  font-weight: bold;
}

.nav-con > li > a{
  color: rgba(27,31,35,0.5);
  border-radius: 4px 4px 0px 0px;
  padding: 7px 12px;
  font-weight: 600;
}

.nav-con>li>a:hover,
.nav-con>li>a:focus{
  background-color: transparent;
  border-color: transparent;
  color: #24292e;
}


.nav-con>li.active>a,
.nav-con>li.active>a:focus,
.nav-con>li.active>a:hover{
  border-top: 1px solid #337AB7;
  border-left: 1px solid #e8e8e8;
  border-right: 1px solid #e8e8e8;
  border-bottom-color: transparent;
  background-color: #F1F1EB;
}



.nav-con > li{
  margin-bottom: -1px;
}

.img-thumbnail{
  padding: 0;
  border: none;
}

.btn-block{
  border-radius: 2px;
}

input:-webkit-autofill {
  -webkit-box-shadow: 0 0 0 1000px white inset !important;
}


.btn-social{
  padding-left: 38px !important;
}



.paragraph{
  font-size: 15px;
  line-height: 24px;
  color: #34495e;
}

