<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/html" xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset="UTF-8">
    <title><%= title %></title>

    <script type="text/javascript" src="../../javascripts/jquery-2.1.4.min.js"></script>

    <link rel="stylesheet" href="/stylesheets/style.css">

    <link rel="stylesheet" href="/bootstrap/css/bootstrap.css">
    <!-- Optional theme -->
    <link rel="stylesheet" href="/bootstrap/css/bootstrap-theme.css">
    <!-- Latest compiled and minified JavaScript -->
    <script type="text/javascript" src="/bootstrap/js/bootstrap.min.js"></script>

    <script src="/pace/pace.min.js"></script>
    <link href="/pace/pace-minimal.css" rel="stylesheet" />

</head>
<body>


<!-- header and menu -->
<% include templates/header.ejs %>
<% if(!isLoggedIn){ %>
<li><a href="/login"><span class="glyphicon glyphicon-log-in" aria-hidden="true"></span> LOGIN</a></li>
<li><a href="/resister"><span class="glyphicon glyphicon-edit" aria-hidden="true"></span> RESISTER</a></li>
<% } else{ %>
<li><a href="/logout"><span class="glyphicon glyphicon-log-out" aria-hidden="true"></span> LOGOUT</a></li>
<li><a href="/#"><span class="glyphicon glyphicon-user" aria-hidden="true"></span> <%= user.name %> </a></li>
<% } %>
<% include templates/headerend.ejs %>


<!-- Main Content -->
<div class="container">

    <div class="col-md-6">
        <div class="panel panel-default">
            <div class="panel-body">

                <h3>Set and Test Limits</h3>


                <form method="post"  name="judgesolution" id="judgesolution" enctype="multipart/form-data" >

                    <div class="row form-group">
                        <div class="col-xs-4">
                            <label form="tl">Time Limit</label>
                            <input type="text" name="tl" value="" form="judgesolution" class="form-control"  >
                        </div>
                        <div class="col-xs-4">
                            <label form="ml">Memory Limit</label>
                            <input type="text" name="ml" value="" form="judgesolution"  class="form-control"  >
                        </div>
                    </div>

                    <div class="form-group">
                        <label for="language">Select Language</label>
                        <select class="form-control" id="language"  style="max-width: 200px;" >
                            <option value="C">C</option>
                            <option value="CPP">C++</option>
                            <option value="JAVA">JAVA</option>
                        </select>
                        <input type="hidden" form="judgesolution" id="sellanguage" />
                    </div>

                    <div id="soluploadingDiv"><img src="/images/ajax-loader.gif"> <b>Submitting...</b></div>

                    <div class="form-group">
                        <div class="well well-sm">
                            <table class="table">
                                <thead>
                                <tr>
                                    <th>
                                        UPLOAD JUDGE SOLUTION
                                    </th>
                                </tr>
                                </thead>
                                <tbody>
                                <tr>
                                    <td>
                                        <input type='file'  form="judgesolution" name="jsinput" class="btn btn-primary btn-sm" style="background: #87CEEE" />
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <input type='submit' class="btn btn-primary btn-sm" value="RUN" >
                                    </td>
                                </tr>
                                </tbody>

                            </table>
                        </div>
                    </div>

                </form>

            </div>
        </div>
    </div>

    <div class="col-md-6">
        <div class="panel panel-default">
            <div class="panel-body">



            </div>
        </div>
    </div>

    <script type="text/javascript">
        var PID = <%= pid %>;
    </script>
    <script type='text/javascript' src="/javascripts/pagefunctions/ep2.js" ></script>


</div>



<!-- footer -->
<% include templates/footer.ejs %>

</body>
</html>