<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>JUST Online Judge</title>

    <% include templates/head.ejs %>

    <script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/jquery-validate/1.15.0/jquery.validate.js"></script>

    <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/tooltipster/3.3.0/css/themes/tooltipster-shadow.css">
    <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/tooltipster/3.3.0/css/tooltipster.min.css">
    <script src="//cdnjs.cloudflare.com/ajax/libs/tooltipster/3.3.0/js/jquery.tooltipster.min.js"></script>
</head>
<body>


<!-- header and menu -->
<% include templates/header.ejs %>




<script type="text/javascript">
    var RecaptchaOptions = {
        theme : 'clean',
        lang  : 'en'
    };
</script>

<!-- Main Content -->
<div class="container">

    <div class="row-fluid">


        <!-- errors -->
        <% if (errors.length) { %>
            <div class="col-md-6 col-md-offset-2">
                <div class="alert alert-danger alert-dismissible" role="alert">
                    <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <% _.forEach(errors,function(value){ %>
                        <%= value.param + ' ' +  value.msg %><br>
                    <% }); %>
                </div>
            </div>
        <% } %>

        <div class="col-md-8">
            <div class="panel panel-default" style="margin-bottom: 70px; ">
                <div class="panel-body">


                    <!-- res Form -->
                    <form method="post" action="/resister" class="form-horizontal" id="resform">

                        <div class="form-group">
                            <div class="col-sm-6 col-sm-offset-2">
                                <h3 style="color: #98978B;">Resister</h3><br/>
                            </div>
                        </div>

                        <div class="form-group">
                            <label for="iName" class="col-sm-2 control-label">Name</label>

                            <div class="col-sm-6">
                                <input id="iName" type="text" name="name" class="form-control valpop" required />
                            </div>
                        </div>

                        <div class="form-group">
                            <label for="iUsername" class="col-sm-2 control-label">Username</label>

                            <div class="col-sm-6">
                                <input id="iUsername" type="username" name="username" class="form-control valpop" required />
                            </div>
                        </div>

                        <div class="form-group">
                            <label for="iEmail" class="col-sm-2 control-label">Email</label>

                            <div class="col-sm-6">
                                <input id="iEmail" type="email" name="email" class="form-control valpop" required />
                            </div>
                        </div>

                        <div class="form-group">
                            <label for="iPassword" class="col-sm-2 control-label">Password</label>

                            <div class="col-sm-6">
                                <input id="iPassword" type="password" name="password" class="form-control valpop" required />
                            </div>
                        </div>

                        <div class="form-group">
                            <label for="iConPassword" class="col-sm-2 control-label">Confirm</label>

                            <div class="col-sm-6">
                                <input id="iConPassword" type="password" name="conpassword" class="form-control valpop" />
                            </div>
                        </div>

                        <br>
                        <div class="form-group">
                            <div class="col-sm-6 col-sm-offset-2">
                                <%- recaptcha_form %>
                            </div>
                        </div>
                        <br>


                        <div class="form-group">
                            <div class="col-sm-6 col-sm-offset-2">
                                <button type="submit" class="btn btn-primary">Resister</button>
                            </div>
                        </div>



                    </form>

                    <script type="text/javascript" src="/javascripts/validate-form.js"></script>

                </div>
            </div>

        </div>

    </div>

</div>


<!-- footer -->
<% include templates/footer.ejs %>

</body>
</html>