<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>JUST Online Judge</title>

    <% include templates/head.ejs %>

    <script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/jquery-validate/1.15.0/jquery.validate.js"></script>

    <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/tooltipster/3.3.0/css/themes/tooltipster-shadow.css">
    <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/tooltipster/3.3.0/css/tooltipster.min.css">
    <script src="//cdnjs.cloudflare.com/ajax/libs/tooltipster/3.3.0/js/jquery.tooltipster.min.js"></script>
    <script src="https://www.google.com/recaptcha/api.js" async defer></script>
</head>
<body class="resister-body">

<!-- Main Content -->
<div class="content container">

    <div class="form-center">
        <div>
            <div class="panel-body text-center form-header">
                <a href="/" class="link-no-effect">
                    <div class="brand-logo">
                        J
                    </div>
                    <h3 class="web-title">Just Online Judge</h3>
                </a>
            </div>
        </div>
        <div class="panel panel-default">

            <div class="panel-body">

                <div class="text-center help-block form-title">Resister for an account</div>

                <% if (errors.length) { %>
                    <div class="alert alert-danger alert-dismissible" role="alert">
                        <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                        <% if(errors[0].name==='captcha'){ %>
                        <%= errors[0].message %><br>
                        <% }else if(errors[0].name === 'form'){ %>
                        <% _.forEach(errors[0].message,function(value){ %>
                        <%= value.param + ' ' +  value.msg %><br>
                        <% }); %>
                        <% }else{ %>
                        Unknown Error
                        <% } %>
                    </div>
                <% } %>

                <!-- res Form -->
                <form method="post" action="/resister" id="resform">

                    <div class="form-group input-icon">
                        <i class="fa fa-user" aria-hidden="true"></i>
                        <input id="iName" type="text" name="name" class="form-control valpop" placeholder="Full name" required />
                    </div>

                    <div class="form-group input-icon">
                        <i class="fa fa-user" aria-hidden="true"></i>
                        <input id="iUsername" type="username" name="username" placeholder="Username" class="form-control valpop" required />
                    </div>

                    <div class="form-group input-icon">
                        <i class="fa fa-envelope" aria-hidden="true"></i>
                        <input id="iEmail" type="email" name="email" placeholder="E-mail" class="form-control valpop" required />
                    </div>

                    <div class="form-group input-icon">
                        <i class="fa fa-lock" aria-hidden="true"></i>
                        <input id="iPassword" type="password" name="password" placeholder="Password" class="form-control valpop" required />
                    </div>

                    <div class="form-group input-icon">
                        <i class="fa fa-lock" aria-hidden="true"></i>
                        <input id="iConPassword" type="password" placeholder="Confirm Password" name="conpassword" class="form-control valpop" />
                    </div>

                    <div class="form-group">
                        <div class="g-recaptcha" data-sitekey="<%= RECAPTCHA_KEY %>"></div>
                    </div>

                    <div class="form-group">
                        <div class="col-sm-6 col-sm-offset-4">
                            <button type="submit" class="btn btn-dark btn-lg">Resister</button>
                        </div>
                    </div>
                </form>

                <script type="text/javascript" src="/javascripts/validate-form.js"></script>

            </div>
            <div class="text-center help-block">
                Already have an account? <a href="/login">Login</a>
            </div>
        </div>



        <div class="text-center help-block">
            &copy; CSE , JUST
        </div>

    </div>
</div>

<script type="text/javascript">
    $(document).ready(function(){
        $(".alert").fadeTo(4500, 500).slideUp(500, function(){
            $(".alert").slideUp(500);
        });
    });
</script>


</body>
</html>