<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/html" xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset="UTF-8">
    <title><%= title %></title>

    <script type="text/javascript" src="../javascripts/jquery-2.1.4.min.js"></script>

    <link rel="stylesheet" href="/stylesheets/style.css">

    <link rel="stylesheet" href="/bootstrap/css/bootstrap.css">
    <!-- Optional theme -->
    <link rel="stylesheet" href="/bootstrap/css/bootstrap-theme.css">
    <!-- Latest compiled and minified JavaScript -->
    <script type="text/javascript" src="/bootstrap/js/bootstrap.min.js"></script>




</head>
<body>


<!-- header and menu -->
<% include templates/header.ejs %>
<% if(!isLoggedIn){ %>
<li><a href="/login"><span class="glyphicon glyphicon-log-in" aria-hidden="true"></span> LOGIN</a></li>
<li><a href="/resister"><span class="glyphicon glyphicon-edit" aria-hidden="true"></span> RESISTER</a></li>
<% } else{ %>
<li><a href="/logout"><span class="glyphicon glyphicon-log-out" aria-hidden="true"></span> LOGOUT</a></li>
<li><a href="/#"><span class="glyphicon glyphicon-user" aria-hidden="true"></span> <%= user.name %> </a></li>
<% } %>
<% include templates/headerend.ejs %>


<!-- Main Content -->
<div class="container">


    <form action="/s3" method="post" enctype="multipart/form-data" target="upload-frame">
        <div class="row-fluid">
            <div class="col-md-4">
                <input name="files[]" type="file" multiple="multiple" class="maxsize-1024" id="upload" />
                <input type="submit" />
            </div>
        </div>
    </form>

    <script>
        // wait for document to load
        $(function(){

            // invoke plugin
            $('#upload').MultiFile({
                onFileChange: function(){
                    console.log(this, arguments);
                },
                accept: 'txt'
            });

        });
    </script>

    <script src='/multiform/jquery.MultiFile.js' type="text/javascript" language="javascript"></script>


</div>



<!-- footer -->
<% include templates/footer.ejs %>

</body>
</html>