<!DOCTYPE html>
<html lang="en">
<head>
    <title>ACE in Action</title>

    <script src="//ajax.googleapis.com/ajax/libs/jquery/2.2.4/jquery.min.js"></script>

    <style type="text/css" media="screen">
        #editor {
            height: 500px;
            width: 700px;
            position: relative;
            border: 1px solid #098ddf;
        }
    </style>
</head>
<body>

    <select id="languages" name="Language">
        <option value="0">C</option>
        <option value="1">C++</option>
        <option value="2">Java</option>
    </select>

    <div id="editor"></div>


<script src="/ace/src-noconflict/ace.js" type="text/javascript" charset="utf-8"></script>
<script>

    $(document).ready(function () {
        initAceEditor(0);
    });

    $("#languages").change(function () {
        initAceEditor($(this).val());
    });

    var lang_theme = {
        0: "c_cpp",
        1: "c_cpp",
        2: "java"
    };

    function initAceEditor(language_index) {
        var lang_theme_mode ="c_cpp";
        if (lang_theme[language_index] != undefined) {
            lang_theme_mode = lang_theme[language_index];
        }

        var editor = ace.edit("editor");
        editor.setValue("");
        editor.setReadOnly(true);
        editor.setTheme("ace/theme/textmate");
        editor.setShowPrintMargin(false);
        editor.getSession().setMode("ace/mode/" + lang_theme_mode);
        editor.getSession().setUseSoftTabs(false);
        editor.renderer.setHScrollBarAlwaysVisible(false);
        editor.resize();
        editor.getSession().on('change', function (e) {
            var value = editor.getValue();
          //  $("#code").val(value);
        });

        loadTemplate(language_index, editor);
        editor.focus();
    }

    function loadTemplate(language_index, editor) {
        $.ajax({
            url: "/problems/languages/template/" + language_index,
            type: "POST",
            dataType: "json",
            contentType: "application/json",
            cache: false
        })
            .done(function (templates) {
                if (templates.status == "success") {
                    editor.getSession().setValue(templates.template);
                    //  $("#code").val(value);
                }
            })
            .fail(function () {
            })
            .always(function () {
            });
    }


</script>
</body>
</html>