<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/html" xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset="UTF-8">
    <title><%= title %></title>

    <script type="text/javascript" src="./javascripts/jquery-2.1.4.min.js"></script>

    <link rel="stylesheet" href="/stylesheets/style.css">

    <link rel="stylesheet" href="/bootstrap/css/bootstrap.css">
    <!-- Optional theme -->
    <link rel="stylesheet" href="/bootstrap/css/bootstrap-theme.css">
    <!-- Latest compiled and minified JavaScript -->
    <script type="text/javascript" src="/bootstrap/js/bootstrap.min.js"></script>




</head>
<body>


<!-- header and menu -->
<% include templates/header.ejs %>
<% if(!isLoggedIn){ %>
<li><a href="/login"><span class="glyphicon glyphicon-log-in" aria-hidden="true"></span> LOGIN</a></li>
<li><a href="/resister"><span class="glyphicon glyphicon-edit" aria-hidden="true"></span> RESISTER</a></li>
<% } else{ %>
<li><a href="/logout"><span class="glyphicon glyphicon-log-out" aria-hidden="true"></span> LOGOUT</a></li>
<li><a href="/#"><span class="glyphicon glyphicon-user" aria-hidden="true"></span> <%= user.name %> </a></li>
<% } %>
<% include templates/headerend.ejs %>


<!-- Main Content -->
<div class="container">

    <div class="col-md-10">
        <div class="panel panel-default">
            <div class="panel-body">

                <div class="panel panel-default">
                    <div class="panel-body">
                        <table class="table">
                            <thead>
                                <tr>
                                    <th>
                                        Test Case
                                    </th>
                                    <th>
                                        Action
                                    </th>
                                </tr>
                            </thead>
                            <tbody></tbody>
                        </table>
                    </div>
                </div>

                <div style="background-color: #f5f5f5; border: 1px solid #e3e3e3;padding: 10px;" >
                    <form method="post"  enctype="multipart/form-data" name="myform" >
                        <table class="table">
                            <thead>
                                <tr>
                                    <th>
                                        INPUT FILE
                                    </th>
                                    <th>
                                        OUTPUT FILE
                                    </th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>
                                        <input type='file' id='fileinput' accept="text/plain"  name="input" class="btn btn-primary btn-sm" style="background: #87CEEE" >
                                    </td>
                                    <td>
                                        <input type='file' id='fileinput' accept="text/plain"  name="output" class="btn btn-primary btn-xs" class="btn btn-primary btn-sm" style="background: #87CEEE" >
                                    </td>
                                </tr>
                                <tr>
                                    <td>

                                        <input type='submit' class="btn btn-primary btn-sm" value="ADD" >
                                    </td>
                                    <td></td>
                                </tr>
                            </tbody>

                        </table>

                    </form>

                 </div>
            </div>
        </div>
    </div>



    <script type='text/javascript'>


        window.onload = function() {
            document.myform.action = get_action();
        }

        function get_action() {
            return '/s3/14';
        }


        var count=1;
        var approvedHTML = '';
        var limitsize = 5;

        $("#fileinput").on("change", function (e) {

                var files = e.currentTarget.files; // puts all files into an array

                if( files.length == 0 ){
                    $("#ddddd").html('no file selected');
                    return;
                }

                var filesize = ((files[0].size/1024)/1024).toFixed(4); // MB

                if (filesize>limitsize) {
                    $("#ddddd").html('file size should less than ' + limitsize + 'MB');
                    $("#fileinput").val('');
                }

        });

    </script>


</div>



<!-- footer -->
<% include templates/footer.ejs %>

</body>
</html>