<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title><%= title %></title>

    <script type="text/javascript" src="javascripts/jquery-2.1.4.min.js"></script>

    <link rel="stylesheet" href="stylesheets/style.css">

    <link rel="stylesheet" href="/font-awesome-4.5.0/css/font-awesome.min.css" >

    <link rel="stylesheet" href="bootstrap/css/bootstrap.css">
    <!-- Optional theme -->
    <link rel="stylesheet" href="bootstrap/css/bootstrap-theme.css">
    <!-- Latest compiled and minified JavaScript -->
    <script type="text/javascript" src="bootstrap/js/bootstrap.min.js"></script>

</head>
<body>


<!-- header and menu -->
<% include templates/header.ejs %>
<% if(!isUser){ %>
<li><a href="/login"><span class="glyphicon glyphicon-log-in" aria-hidden="true"></span> LOGIN</a></li>
<li><a href="/resister"><span class="glyphicon glyphicon-edit" aria-hidden="true"></span> RESISTER</a></li>
<% } else{ %>
<li><a href="/logout"><span class="glyphicon glyphicon-log-out" aria-hidden="true"></span> LOGOUT</a></li>
<li><a href="/#"><span class="glyphicon glyphicon-user" aria-hidden="true"></span> <%= user.name %> </a></li>
<% } %>
<% include templates/headerend.ejs %>


<!-- Main Content -->
<div class="container" style="min-height: 550px;">

    <div class="row">

        <div class="col-md-8">
            <div class="panel panel-default">
                <div class="panel-body">

                    <h4><span class="glyphicon glyphicon-book" aria-hidden="true"></span> Status</h4>



                </div>
            </div>
        </div>



    </div>

</div>

<!-- footer -->
<% include templates/footer.ejs %>

</body>
</html>