
html{
  margin: 0;
  height:100%;
}

body {

  margin: 0;

  /* font-family: 'Roboto','Source Sans Pro', sans-serif; */
  font-family: -apple-system, BlinkMacSystemFont, Roboto, 'Source Sans Pro', system-ui, 'Segoe UI','Helvetica Neue',Arial,sans-serif;

  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  font-size: 14px;
  color: #333;
  /* background: #f5f5f5;  f7f7f7 F1F1EB eef2f5 ECF0F5 */
  background: #ffffff ;
  height:100%;
}

a{
  color: #07569e;
}

.navbar-brand{

  font-family: 'Niconne', cursive;
  font-size: 18px;
  font-weight: 700;
  letter-spacing: 4px;

  line-height: 0;

  -webkit-perspective:1000;
  perspective: 1000;

  padding-top: 0;
  /* padding-left: 40px; */
}

.navbar-brand p{
  margin: 0;
}
.navbar-brand p:first-child{
  padding-left: 3px;
}

.navbar{
  font-family: 'Source Sans Pro', sans-serif;
  padding: 0;
  margin-bottom: 0;
  /* box-shadow: 0 1px 1px rgba(0,0,0,.14); */

      -webkit-box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.33);
    box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.33);
}

.navbar-inverse {
  /* box-shadow: 0 3px 4px 0 rgba(0,0,0,.14),0 3px 3px -2px rgba(0,0,0,.2),0 1px 8px 0 rgba(0,0,0,.12); */
  background-color: #34364c; /* 111116 263238   242c33*/
  background-image: none;
  border-color: transparent;
}

.navbar-inverse .navbar-brand{
  color: #FFFFFF;
}

.navbar-inverse .navbar-nav{
  margin-left: 40px;
}

.navbar-inverse .navbar-nav>.active>a, .navbar-inverse .navbar-nav>.open>a{
  background-image: none;
  box-shadow: none;
}

.navbar-inverse .navbar-nav>.active>a, .navbar-inverse .navbar-nav>.active>a:focus, .navbar-inverse .navbar-nav>.active>a:hover{
  background-color: transparent;
}

.navbar-inverse .navbar-nav>li>a:focus, .navbar-inverse .navbar-nav>li>a:hover {
  background-color: rgba(0,0,0,0.05);
  color: #ffffff !important;
}


.navbar-inverse .material-icons {
  vertical-align: middle;
  font-size: 19px;
}

.navbar-inverse .navbar-nav>li>a {

  padding-top: 14px;
  padding-bottom: 14px;

  color: rgba(255,255,255,0.75);
  -webkit-transition: all 200ms ease;
  -moz-transition: all 200ms ease;
  transition: all 200ms ease;
}

.main-wraper{
  margin-top: 20px;
}

.main-wraper > .container{
  background: transparent;
  box-shadow: none;
}

.main-height{
  min-height: 580px;
}

.main-footer{
  background: #242635;
}

.main-footer .pull-right{
 font-size: 10px;
}

.main-footer .pull-right a{
  text-decoration: none;
  color: #ddd;
}


footer{
  background-color: #242635;
  color: #DDD;
  padding: 20px 0px;
}

.form-control {
  height: 35px;
  border-radius: 3px;
  box-shadow: none;
  border: 1px solid #d9d9d9;
}

.form-control:focus {
  border: 1px solid #4098CF;
  box-shadow: none;
}

.signin-form{
  width: 300px;
}

.signup-form-wrapper{
  width: 342px;
}

.form-center{
  margin: 0px auto;
  margin-top: 30px;
}

.form-center .web-title{
  font-family: 'Niconne', cursive;
  font-weight: bold;
  margin: auto;
  color: #ffff;
}

.form-header a{
  text-decoration: none;
  color: #fff !important;
}

.form-center .form-header{
  background-color: #263238;
  color: #fff;
}

.has-danger .form-control{
  border-color: #f79483;
}

.card-no-border{
  border: none;
}

.form-title{
  margin-bottom: 15px;
  margin-top: 30px;
  border-bottom: 1px dotted #cccccc;
  font-size: 13px;
  line-height: 0.1em;
}

.signin-form .help-block{
  color: #adadaa;
}

.form-title span{
  background: #ffffff;
  padding:0 10px;
}


button{
  cursor: pointer;
}

.btn-primary, .btn-info, .btn-danger, .btn-success{
  border-color: transparent;
  box-shadow: none;
}

.btn-dark {
  background-color: #34495E;
  color: #fff;
}

.btn-block {
  border-radius: 2px;
}

.btn-social{
  font-size: 13px;
  border-radius: 1px;
  padding: 0.5rem 0.8rem;
  padding-left: 40px;
}

.signin-form .btn-social{
  margin-right: 4px;
}

/*
https://stackoverflow.com/questions/2610497/change-an-html5-inputs-placeholder-color-with-css
*/
::-webkit-input-placeholder { /* Chrome/Opera/Safari */
  opacity: 0.6 !important;
  font-size: 14px;
}
::-moz-placeholder { /* Firefox 19+ */
  opacity: 0.6 !important;
  font-size: 14px;
}
:-ms-input-placeholder { /* IE 10+ */
  opacity: 0.6 !important;
  font-size: 14px;
}
:-ms-input-placeholder { /* Internet Explorer 10-11 */
 opacity: 0.6 !important;
 font-size: 14px;
}
:-moz-placeholder { /* Firefox 18- */
 opacity: 0.6 !important;
 font-size: 14px;
}


.forgot-password {
  /*border-bottom: 1px dashed #a6a6a6;*/
  color: #737373;
  font-size: 13px;
  padding-bottom: 2px;
  margin-bottom:  10px;
}

.forgot-password:hover{
  text-decoration: none;
  color: inherit;
}

.alert{
  font-size: 14px;
  font-weight: bold;
}

.alert-danger, .alert-success, .alert-warning, .alert-info{
  border-color: transparent;
}

.alert-success{
  background-color: #c1e2b6;
}

.alert-danger{
  background-color: #ffdce0;
}
.alert-warning{
  background-color: #f5e8a3;
}
.alert-info{
  background-color: #c0e1f2;
}

input[type="text"], input[type="password"], input[type="nubmer"]{
  font-size: 14px;
}

.btn-social>:first-child {
  border-right: 1px solid rgba(0,0,0,0.1);
}

.btn-facebook, .btn-github, .btn-google{
  border: none;
}


.input-icon{
  position: relative;
}

.input-icon .material-icons{
  position: absolute;
  padding: 8px 5px 5px 5px;
  width: 30px;
  pointer-events: none;
  /* border-right: 1px solid #d6d6d6;  */
  color: #b3b3b3;
}

.input-icon input{
  padding-left: 32px;
  font-size: 15px;
}

.material-icons.md-18 { font-size: 18px; }
.material-icons.md-20 { font-size: 20px; }
.material-icons.md-24 { font-size: 24px; }
.material-icons.md-36 { font-size: 36px; }
.material-icons.md-48 { font-size: 48px; }

.material-icons{
  vertical-align: middle;
}

#particles-js canvas {
  display: block;
  vertical-align: bottom;
  opacity: 1;
}

#particles-js {
  width: 100%;
  height: 100%;
  position: fixed;
  z-index: -10;
  top: 0;
  left: 0;
  background-color: #374046;
}


/* .dropdown-menu{
  border-color: transparent;
} */

.navbar-inverse .dropdown-divider{
  background-color: #34434c;
}

.navbar-inverse .dropdown-item{
  color: #fff;
  padding-left: 15px;
  font-size: 14px;
  border-color: transparent;
}

.navbar-inverse .dropdown-item:hover,
.navbar-inverse .dropdown-item:focus{
  background-color: #34434c;
  border-color: transparent;
}

.dropdown-item.active,
.dropdown-item:active {
  background-color: #34434c;
  border-color: transparent;
}

.navbar-inverse .dropdown-item > .material-icons{
  margin-right: 5px;
  font-size: 13px;
}

.navbar-inverse .dropdown-menu{
  background-color: #263238;
  margin-top: 0;
  border-color: transparent;
  box-shadow: 0 5px 5px -3px rgba(0,0,0,.2), 0 8px 10px 1px rgba(0,0,0,.14), 0 3px 14px 2px rgba(0,0,0,.12);
}

.card{
/*   border: none;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.15); */
  box-shadow: none;
  border-color: rgb(230, 233, 237);
  border-radius: 1px;
}

.card-title{
  font-weight: normal;
  color: rgba(0,0,0,0.65);
}

.card-block-title{
  font-weight: normal;
  padding: 20px;
  padding-bottom: 0;
}

.table-no-margin{
  margin-bottom: 0;
}
/* 
.table td{
  font-size:  13px;
} */

.table thead th{
  border-bottom: none;
  color: rgba(0,0,0,0.65);
}

.w-5 {
  width: 5% !important;
}

.w-3 {
  width: 3% !important;
}

.w-64 {
  width: 64% !important;
}

.w-15 {
  width: 15% !important;
}

.w-10 {
  width: 10% !important;
}


.w-20 {
  width: 20% !important;
}

.link{
  text-decoration: none !important;
  font-weight: 700;
  color: #0c5a49;
}

.link:hover{
  color: #062d24;
}

.problem-table .material-icons{
  font-size: 16px;
}



.big-loading{
  min-height: 130px;
  padding-top: 40px;
}

.quill-editor{
  box-shadow: 0 3px 1px -2px rgba(0,0,0,.14), 0 2px 2px 0 rgba(0,0,0,.098), 0 1px 5px 0 rgba(0,0,0,.084);
  border: none;
  background: #fff;
  width: 100%;
}

.quill-editor .material-icons{
  font-size: 18px;
  font-weight: normal;
  color: #686868;
}

.ql-list > .material-icons{
  font-size: 20px;
}


.quill-editor .material-icons:hover{
  color: #363232;
}

.ql-container.ql-snow{
  border:  none;
}

.ql-container{
  font-family: -apple-system, BlinkMacSystemFont, Roboto, 'Helvetica Neue', sans-serif;
  font-size: 15px;
}

.ql-toolbar.ql-snow{
  border:  none;
  border-bottom: 1px solid #e6e6e6;
  padding: 12px 8px;
  font-family:  'Roboto', sans-serif;
}


.ql-header{
  padding-top: 2px;
}

.ql-active .material-icons{
  color: #0066cc;
}

.multiselect__tag{
  border-radius: 2px;
  background: #34364C;
}

.multiselect__tag-icon:after {
  color: #fff;
  font-size: 12px;
}

.multiselect__tag-icon:focus,
.multiselect__tag-icon:hover {
  background: #535679;
}

.multiselect__tag-icon{
  color: #fff;
  border-radius: 0;
}

.multiselect,
.multiselect__input,
.multiselect__single{
  font-size: 12px;
}

.multiselect__input, .multiselect__single{
  border-radius: 2px;
}

.custom-select{
  font-size: 14px;
}

.form-control{
  height: 38px;
  border-color: #e8e8e8;
  /* border-color: rgb(217, 217, 217); */
}

.form-bundle{
  width: 100%;
}

.form-bundle > label{
  font-weight: 600;
  margin-bottom: 3px;
  font-size: 13px;
  color: rgba(0,0,0,0.6);
  padding-left: 2px;
}


label.vue-js-switch{
  margin:  0;
}

.ql-toggle-btn .material-icons{
  font-size:  23px;
}

.problem-content p{
  margin-bottom: 0;
}

#sampleInput, #sampleOutput{
  min-height: 100px;
  font-size: 16px;
  font-family: 'Ubuntu Mono', monospace;
}

a.help-block{
  font-size: 10px;
}

.katex{
  font: 400 1.25em 'Source Sans Pro', KaTeX_Main, Times New Roman, sans-serif, serif;
}

code, kbd, pre, samp{
  font-family: 'Ubuntu Mono' ,Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;
}

.problem-content-wrapper pre{
  font-size: 17px;
}

.problem-content-wrapper tr > td{
  border-top: none;
}

.problem-content-wrapper code{
  font-size: 16px;
}

/* 
.problem-content-wrapper tr > td:first-child{
  border-right: 1px solid rgba(0,0,0,0.08);
} */



/** btn-xs  */
.btn-xs,
.btn-group-xs > .btn {
  padding: 1px 5px;
  font-size: 12px;
  line-height: 1.5;
  border-radius: 3px;
}

.btn-xs .badge,
.btn-group-xs > .btn .badge {
  top: 0;
  padding: 1px 5px;
}

.navbar-btn.btn-xs {
  margin-top: 14px;
  margin-bottom: 14px;
}



.btn-xs .material-icons{
  font-size: 15px;
}

.custom-file-input,
.custom-file-control{
  height: 30px;
  padding:  4px 10px;
}

.custom-file{
  font-size: 13px;
  height: 30px;
  border: none;
}

.custom-file-control::before{
  background-color: #34364C;
  color: #fff;
  padding:  4px 10px;
}

form{
  width: 100%;
}

.btn-iconic{
  display: flex;
  align-items: center;
  padding:5px 8px;
}

.btn-iconic-right{
  padding-right: 0px;
}

.btn-iconic-left{
  padding-left: 0px;
}


.btn-sm.btn-loading{
  padding-top: 8px;
}

.btn-md.btn-loading{
  padding-top: 12px;
}

.btn-lg.btn-loading{
  padding-top: 14px;
}

.btn-xs.btn-loading{
  padding-top: 6px;
}

.btn:focus{
  border-color: transparent;
  box-shadow: none;
}


h6 .material-icons {
  font-size: 19px;
}


.runs-table-sm{
  font-size: 13px;
}

.runs-table-sm .badge,
runs-table-md .badge{
  padding: 5px 6px;
  border-radius: 2px;
}

.badge-dark{
  background-color: #5bc0de;
}