<footer style="background: #2c3e50">
    <div class="container" style="color: #fff">
        &copy; 2016 CSE, JUST
        <div class="pull-right" style="font-size: 10px;"><a href="mailto:madinar.cse@gmail.com">Developer: Ahmed Dinar</a></div>
    </div>
</footer>