
<footer class="container" style="border-top: 1px solid #d9dddf; background: #DDDDDD;">
    <div  style="color: #777">
        &copy; 2016 CSE, JUST
        <div class="pull-right" style="font-size: 10px;"><a href="mailto:madinar.cse@gmail.com">Developer: Ahmed Dinar</a></div>
    </div>
</footer>

</div>