<nav class="navbar navbar-default navbar-fixed-top">
    <div class="container">

        <!-- Web heading/logo -->
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#mainNavbar">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a href="/" id="web-title" class="navbar-brand"  >
                JustOj<sup>&beta;</sup>
            </a>
        </div>


        <!-- Main Menus -->
        <div class="collapse navbar-collapse" id="mainNavbar">

            <!-- left menu -->
            <ul class="nav navbar-nav">
                <li class="active"><a href="/"><span class="glyphicon glyphicon-home" aria-hidden="true"></span> HOME</a></li>
                <li><a href="/problems"><span class="glyphicon glyphicon-tasks" aria-hidden="true"></span> PROBLEMS</a></li>
                <li><a href="/ranks"><span class="glyphicon glyphicon-flag" aria-hidden="true"></span> RANKS</a></li>
                <li><a href="/status"><span class="glyphicon glyphicon-record" aria-hidden="true"></span> STATUS</a></li>
            </ul>

            <!-- Right menu login/profile -->
            <ul class="nav navbar-nav navbar-right">