<nav class="navbar navbar-default navbar-fixed-top">
    <div class="container">

        <!-- Web heading/logo -->
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#mainNavbar">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a href="/"  class="navbar-brand" style="font-family: 'Hammersmith One', sans-serif;"  >
                JustOj<sup>&beta;</sup>
            </a>
        </div>


        <!-- Main Menus -->
        <div class="collapse navbar-collapse" id="mainNavbar">

            <!-- left menu -->
            <ul class="nav navbar-nav nav-menu">
                <li><a href="/problems">PROBLEMS</a></li>
                <li><a href="/ranks">RANKS</a></li>
                <li><a href="/status">STATUS</a></li>
                <li><a href="/contest">CONTEST</a></li>
            </ul>


            <!-- Right menu login/profile -->
            <ul class="nav navbar-nav navbar-right">
