
@import url('https://fonts.googleapis.com/css?family=Lobster|Ranchers');

body {

  margin: 0px ;

  font-family: 'PT Sans', 'Open Sans', "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 14px ;
  color: #333 ;
  background: #FFFFFF;
}



a{
  color: #1D906A;
}

.main-wraper > .container{
  background: #FFFFFF;
  box-shadow: none;
}

.content{
  padding-top: 30px;
}

.contest-navbar{
  box-shadow: none !important;
  background: #e2e2e2 !important;
  margin-bottom: 20px !important;
}

.contest-container{
  font-family: 'PT Sans', sans-serif;


  background-image: linear-gradient(45deg, #155676, #4892B7) !important;
  background-image: -webkit-linear-gradient(45deg, #155676, #4892B7) !important;
  background-image: -moz-linear-gradient(45deg, #155676, #4892B7)  !important;
  background-image: -ms-linear-gradient(45deg, #155676, #4892B7)  !important;
  background-image: -o-linear-gradient(45deg, #155676, #4892B7)  !important;


  padding: 0px;
  color: #fff;
}

.contest-container > .panel-body{
  padding: 5px 15px;
}

footer{
  background: #272727;
  color: #DDD;
  padding: 20px 0px;
}

.problem-list tr td:nth-child(1),.problem-list tr td:nth-child(3),.problem-list tr td:nth-child(4){
  width:6%;
}

.panel-body  {

  word-wrap: break-word;
}

.problem-list tr td:nth-child(2){
  width:72%;
}


.problem-list .pl-title{
  /*color: #1D906A;*/
  color: #067399;
  max-width: 100px;
}

.problem-list > tbody > tr{
  cursor: pointer;
}


.pl-title:hover{
  text-decoration: underline;
}




.recaptchatable #recaptcha_response_field {
  font-size: 11pt;
  padding: 5px;
}

#recaptcha_response_field {
  border: 1px solid #ccc;
}

.contest-list > p{
    font-size: 12px;
}

.preview{
  background-color: #f5f5f5;
  border: 1px solid #e3e3e3;
  min-height: 400px;
  padding: 10px;
}

.note-toolbar, .btn-toolbar{
  background: #fff;
  background-color: #fff;
}

.btn-file {
  position: relative;
  overflow: hidden;
}

.btn-file input[type=file] {
  position: absolute;
  top: 0;
  right: 0;
  min-width: 100%;
  min-height: 100%;
  font-size: 100px;
  text-align: right;
  filter: alpha(opacity=0);
  opacity: 0;
  outline: none;
  background: white;
  cursor: inherit;
  display: block;
}


.note-group-select-from-files {
  display: none;
}

.codePre{
  padding: 9.5px;
  margin: 0 0 10px;
  overflow: auto;
  font-size: 13px;
  line-height: 1.42857143;
  word-break: break-all;
  word-wrap: break-word;
  white-space: pre-wrap;
}

.btn-dark{
  background-color: #34495E;
  color: #fff;
}

hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #000;
  margin: 1em 0;
  padding: 0;
}

.ellips{
  overflow:hidden;
  white-space:nowrap;
  text-overflow:ellipsis;
}

.jl-style{
  font-family: 'Open Sans', sans-serif;
  color: #fff;
  font-weight: 600;
  background: #4C4F84;
  padding: 0px 6px;
  border-radius: 3px;
}


.c-h{
  min-height: 545px;
  /*border: 1px solid #ccc;*/
}


.grey-back{

/*
  background-image: linear-gradient(45deg, #155676, #4892B7);
  background-image: -webkit-linear-gradient(45deg, #155676, #4892B7);
  background-image: -moz-linear-gradient(45deg, #155676, #4892B7) ;
  background-image: -ms-linear-gradient(45deg, #155676, #4892B7) ;
  background-image: -o-linear-gradient(45deg, #155676, #4892B7) ;
*/

  background-image: linear-gradient(45deg, #DDDDDD, #EEEEEE);
  background-image: -webkit-linear-gradient(45deg, #DDDDDD, #EEEEEE);
  background-image: -moz-linear-gradient(45deg, #DDDDDD, #EEEEEE) ;
  background-image: -ms-linear-gradient(45deg, #DDDDDD, #EEEEEE) ;
  background-image: -o-linear-gradient(45deg, #DDDDDD, #EEEEEE) ;

  color: #333;
}


.ac{
  color: #43AC6A;
}

.wa{
  color: indianred;
}

#db-lg .list-group-item{
  margin-bottom: 5px ;
}


hr {
  border-color: #ddd;
}

.panel{
  /*-webkit-box-shadow: 0 1px 3px rgba(0,0,0,0.12),0 1px 2px rgba(0,0,0,0.24);
  -moz-box-shadow: 0 1px 3px rgba(0,0,0,0.12),0 1px 2px rgba(0,0,0,0.24);
  box-shadow: 0 1px 3px rgba(0,0,0,0.12),0 1px 2px rgba(0,0,0,0.24);*/
  border-radius: 0px ;
  /*border: none;*/
}

/*
.navbar {

  background: #FFFFFF;

  margin-bottom: 0px;
  border: 0px;
  box-shadow: none;
}

.navbar-default {
  background-color: #F1F1F1;
  border-bottom: 1px solid #e4e6e8;
}

.navbar-default .navbar-nav>li>a {
  color: #777;
}

.navbar-nav>li>a {
  text-shadow: none;
  line-height: 23px;
}

.navbar-nav>li>a:hover{
  color: #FFFFFF;
}

.navbar-brand {
  font-size: 28px;
}
*/


input[type="text"],input[type="password"],input[type="username"],input[type="email"], select{
  border-radius: 1px;
  padding: 20px 14px ;
}

.form-control {
  border-radius: 1px;
}

.form-control:focus {
  border: 1px solid #ccc;
  box-shadow: none;
}

.btn,.btn-primary{
  border: 0px;
  border-radius: 2px;
}

.avatar-img
{
  position: relative;
  top: -5px;
  float: left;
  left: -5px;
  overflow: hidden;
}

.dropdown-menu>li>a {
  font-weight: normal;
  color: #666666 ;
  white-space: nowrap;
  font-size: 13px;
}



.navbar-static-top{
  min-height: 30px;
}

#contest-navbar > li > a{
  padding: 8px 15px;
  font-size: 13px;
}


td,th{
  display: table-cell;
}


.scoreboard{
  font-size: 14px ;
}




.scoreboard >tbody>tr:nth-child(odd) > td{
  padding: 8px 8px 2px 8px ;
}

.scoreboard > thead > tr > th,.scoreboard > thead > tr > td {
  padding: 0px ;
  margin: 0px ;
}

.standings-cell > .label{
  min-width: 40px;
  max-width: 64px;
  display: block;
  padding: 3px 6px;
  margin: 0 0;
  font-weight: normal;
  font-size: 11px;
  border-radius: 1px;
}


.table-striped>tbody>tr:nth-child(4n+1)>td,
.table-striped>tbody>tr:nth-child(4n+2)>td {
  background-color: #fff ;
}

.table-striped>tbody>tr:nth-child(4n+3)>td,
.table-striped>tbody>tr:nth-child(4n+4)>td {
  background-color: #fff ;
}


.table-striped>tbody>tr:nth-child(even) > td{
  border-top: none 0px ;
}



.fixed-cell{
  max-width: 64px;
  width: 64px;
}

.last-border{
  margin-top: 0px;
}

.bootstrap-filestyle > input[type="text"] {
  padding: 0px 5px ;
}

.alert{
  border: none ;
}


  .cd-row {
    position: relative;
  }

  .bottom-align-text {
    position: absolute;
    bottom: 0;
    right: 0;
  }


.countdown-d{
  border: 1px solid #000;
  margin-right: 5px;
  height: 30px;
  width: 30px;
position: relative;
  overflow: hidden;
}

.table>thead>tr>th {
  border-bottom: 1px solid #ddd;
}

.table>tbody>tr>td,
.table>tbody>tr>th,
.table>tfoot>tr>td,
.table>tfoot>tr>th,
.table>thead>tr>td,
.table>thead>tr>th {
  border-top: 1px solid #eeeeee;
}




.navbar-default .navbar-nav>.active>a, .navbar-default .navbar-nav>.open>a {
  background-image: none;
  -webkit-box-shadow: none;
  box-shadow: none;

}

.navbar-default .navbar-nav>.active>a, .navbar-default .navbar-nav>.active>a:focus, .navbar-default .navbar-nav>.active>a:hover {
  color:#4E1B5A;
  background-color: transparent;
}

.badge-info{
  background: #5bc0de;
}



/*wooooooooooooooooo*/

.navbar .navbar-default {
  border-radius: 0px;
  border-left: transparent;
}

#navbar-collapse {
 /* border-bottom: 1px solid #266080;*/
}

.top-nav>li>a {
  text-shadow: none;
  line-height: 23px;
  padding: 5px 15px;
}


#brand-logo {
  z-index: 1;
  text-decoration: none;
  cursor: pointer;
  background-size: cover;
  position: absolute;
  background: #262f38;
  width: 100%;
  padding-left: 21px;
  padding-top: 7px;
  padding-bottom: 7px;
  margin-top: -7px;
}

#brand-logo h4{
  letter-spacing: 1px;
  color: #FFFFFF;
  font-size: 21px;
  line-height: 15px;
  font-family: 'Lobster', cursive;
  font-weight: bold;
}

#brand-logo:before, #brand-logo:after {
  content: '';
  position: absolute;
  width: 100%;
  left: -0.25em;
  border: 0 solid transparent;
  border-width: 0.5em 0.25em;
  color: #262f38;
}

#brand-logo:before {
  border-top: none;
  border-bottom-color: initial;
  top: 0;
}

#brand-logo:after {
  border-bottom: none;
  border-top-color: initial;
  bottom: 0;
}



.transparent{
  background: transparent;
  border: none;
  box-shadow: none;
}


nav.nopadding, div.nopadding {
  padding: 0;
  margin: 0;
}

.navbar-wrapper{
  border-top: 1px solid #eee;

  border-bottom: 1px solid #eee;
  margin-bottom: 15px;
  border-top: 4px solid #262f38;
}


/*
@media (max-width: 768px) {
  .navbar-brand {
    display: block;
  }
  .navbar-wrapper{
    background-image: none;
    background: #FFFFFF;
  }
}*/


.table-striped>tbody>tr:nth-child(odd)>td,
.table-striped>tbody>tr:nth-child(odd)>th {
  background-color: #f8f8f8;
}


.panel-default>.panel-heading {
  background-color: #f6f6f6;
  background-image: none;
}

.list-group {
  border-radius: 0;
}

.list-group-item:first-child {
  border-radius: 0;
}

#ajaxResult{
  margin-top: 12px;
}

.full-width {
  display:block;
}

.navbar {
  margin-bottom: 0px;
}

.nav>li>a {
  padding: 7px 15px;
}

.navbar-inverse {
  background-color: #1c2536;
  background-image: none;
  border-color: transparent;
}

.navbar-brand{
  color: #337ab7; font-family: 'Lobster', cursive; font-size: 24px; font-weight: 550; padding-left: 18px;
}

.navbar-inverse .navbar-brand{
  color: #FFFFFF;
}

.navbar-inverse .navbar-nav>.open>a, .navbar-inverse .navbar-nav>.open>a:focus, .navbar-inverse .navbar-nav>.open>a:hover{
  background-image: none;
  background-color: transparent;
}