@import url(https://fonts.googleapis.com/css?family=Source+Sans+Pro);
@import url(https://fonts.googleapis.com/css?family=Carter+One);
@import url(https://fonts.googleapis.com/css?family=Maven+Pro|Hammersmith+One);
@import url(https://fonts.googleapis.com/css?family=Poiret+One);


#web-title{
  font-family: 'Hammersmith One', sans-serif;
  color: #4C4F84;
  font-weight: 500;
  border: 0px;
  background: #fff;
  border-radius: 3px;
  border: 0px;
}

html{
  font-family: 'Maven Pro', sans-serif;
}

body {
  padding-top: 70px;
  margin: 0px;
  font-family: 'Maven Pro', sans-serif;
}

p,h4,div{
  font-family: 'Maven Pro', sans-serif;

}

a {
  color: #00B7FF;
}

footer{
  background: #272727;
  color: #DDD;
  padding: 20px 0px;
}

#mainNavbar ul > li > a{
  font-size: 12px;
}


input.val-error,
select.val-error,
textarea.val-error {
  border: 1px solid #D9534F;
}

.recaptchatable #recaptcha_response_field {
  font-size: 11pt;
  padding: 5px;
}

#recaptcha_response_field {
  border: 1px solid #ccc;
}

#h3{
  font-family: 'Source Sans Pro', sans-serif;
  font-weight: 500;
}

pre.prettyprint{
  margin-bottom: 0px;
  padding: 0px;
}

pre{
  padding: 0px;
}


.preview{
  background-color: #f5f5f5;
  border: 1px solid #e3e3e3;
  min-height: 400px;
  padding: 10px;
}

.note-toolbar, .btn-toolbar{
  background: #fff;
  background-color: #fff;
}

.btn-file {
  position: relative;
  overflow: hidden;
}
.btn-file input[type=file] {
  position: absolute;
  top: 0;
  right: 0;
  min-width: 100%;
  min-height: 100%;
  font-size: 100px;
  text-align: right;
  filter: alpha(opacity=0);
  opacity: 0;
  outline: none;
  background: white;
  cursor: inherit;
  display: block;
}


.note-group-select-from-files {
  display: none;
}

.codePre{
  padding: 9.5px;
  margin: 0 0 10px;
  overflow: auto;
  font-size: 13px;
  line-height: 1.42857143;
  word-break: break-all;
  word-wrap: break-word;
  white-space: pre-wrap;
}

.btn-dark{
  background-color: #34495E;
  color: #fff;
}

hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #000;
  margin: 1em 0;
  padding: 0;
}