<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>JUST Online Judge</title>

    <% include ../../templates/head.ejs %>

</head>
<body>


<!-- header and menu -->
<% include ../../templates/header2.ejs %>


<!-- Main Content -->
<div class="content container c-h" style="font-family: 'PT Sans', sans-serif;" >
    <div class="row">

        <div class="col-md-12 text-center">
            <h1><%= contest.title %></h1>
            <br>
            <p>STARTS IN</p>



            <div class="col-md-4 col-md-offset-3" style="border: 1px solid #000;">

                <div class="cd-row">
                    <div class="col-md-2">
                        <div class="countdown-d"></div>
                        <div class="countdown-d"></div>
                    </div>
                    <div class="bottom-align-text col-md-1">
                        <h5>Days</h5>
                    </div>
                </div>

            </div>

<!--
            <div id="countdown" style="font-size: 24px; font-weight: 200"></div><br>-->

            <br><br><br><br><br>

            <% if(contest.privacy){ %>
                <% if(!isLoggedIn){ %>
                    <a class="btn btn-primary" href="/login">LOGIN TO RESISTER</a>
                <% }else if(user.role === 'admin'){ %>
                    <a class="btn btn-primary" href="/contest/edit/<%= contest.id %>">EDIT</a>
                <% }else if(!registered){ %>
                    <a class="btn btn-primary" href="/contest/<%= contest.id %>/resister">RESISTER</a>
                <% }else{ %>
                    <h5>You Are Perticipating in this contest</h5>
                <% } %>
            <% }else{ %>
                <h4>It's a Private Contest. Only invited participants are allowed.</h4>
            <% } %>

        </div>


    </div>
</div>

<script type="text/javascript" src="/javascripts/pageFunctions/Countdown.js"></script>
<script type="text/javascript">
    $( document ).ready(function() {
        CountDownTimer('<%= contest.begin %>',document.getElementById("countdown"));
    });
</script>

<!-- footer -->
<% include ../../templates/footer.ejs %>

</body>
</html>